{% extends 'index.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/csshome/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/csshome/fontawesome-all.css' %}">
<link rel="stylesheet" href="{% static 'css/csshome/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/csshome/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/csshome/swiper.css' %}">
<link rel="stylesheet" href="{% static 'css/csshome/fixo.css' %}">
{% endblock %}

{% block conteudo %}
<!-- Header -->
<header id="header" class="header">
    
</header> <!-- end of header -->
<!-- end of header -->

<!-- Contact -->
<div id="contact" class="form-2">
    <div class="container">
        <!-- Your contact information and form can go here -->
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of contact -->
{% endblock %}

{% block scripts %}
<script src="{% static 'js/js-home/jquery.min.js' %}"></script>
<script src="{% static 'js/js-home/bootstrap.min.js' %}"></script>
<script src="{% static 'js/js-home/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/js-home/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'js/js-home/popper.min.js' %}"></script>
<script src="{% static 'js/js-home/scripts.js' %}"></script>
<script src="{% static 'js/js-home/swiper.min.js' %}"></script>
<script src="{% static 'js/js-home/validator.min.js' %}"></script>
{% endblock %}
